---
// 메인 = 서점: 들어오면 바로 보이는 스토리 피드
import Base from '../layouts/Base.astro';
import PostList from '../components/PostList.astro';
import { getPublishedPosts } from '../lib/notion.js';

const posts = await getPublishedPosts();
---
<Base title="PULLSTORY">
  <p class="lede">사람들의 성장 스토리를 만나는 공간.</p>
  <PostList posts={posts} />
</Base>
